@import "base.css";

.p-menubar-item-link,
.p-menubar-item-label {
    color: var(--p-primary-color) !important;
}

.p-menubar-item-icon {
    color: var(--p-primary-500) !important;
}

.p-menubar {
    border-color: var(--p-primary-800) !important;
}

.surface-border {
    border-color: var(--p-primary-800) !important;
}

.p-tieredmenu {
    border-color: var(--p-primary-800) !important;
}

.p-menubar-button {
    color: var(--p-primary-500) !important;
}

.p-menubar-root-list,
.p-menubar-mobile-active .p-menubar-root-list {
    border-color: var(--p-primary-800) !important;
}

.p-select {
    border-color: var(--p-primary-800) !important;
}

.p-select-label {
    color: var(--p-primary-color) !important;
}

.p-select-dropdown-icon {
    color: var(--p-primary-500) !important;
}

.p-select-overlay {
    border-color: var(--p-primary-800) !important;
}

.p-select-option {
    color: var(--p-primary-color) !important;
}

.p-select-option:hover {
    background-color: var(--p-primary-900) !important;
}

.p-select-option-label {
    color: var(--p-primary-color) !important;
}